*{
    margin: 0;
    padding: 0;
}
.start-page {
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    
}

.start-page .title{
    padding-top: 250px;
    font-family: montserrat ;
    font-size: 100px;
}
.start-page .button-c{
    display: flex; 
 
   
    padding-top: calc(25%);
   justify-content: center; 
   text-decoration: none;
   color: #000;

}
.start-page .button{
    display: flex;
    font-family: montserrat ;
    font-weight: 750;
    font-size: 100px;
    color:#D9D9D9;
    border: solid;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    height: 100px;
    width: 450px;
    background-color: #5B5656;
}

.main-page{
    display: none;
}

.main-page .header{
    display: flex;
    background-color: #D9D9D9;
    font-family: montserrat;
    font-size: 40px;
    justify-content: space-around;
}
.main-page nav{
    display: flex;
    gap: 108px;
}
.container {
    display: grid; 
    grid-template-columns: 0.4fr 1.6fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". ."; 
  }
.container .div1{
    background-color: #645D5D  ;
    height: 550px;
  }
.container img{
 width: 75px;
 height: 75px;
 position: relative;
 padding-left: 96px;
}
.container .div2{
    border: #000000;
    border-width: 100px;
}   

.vsibir{
    text-decoration: none;
    color: #000;
    font-family: montserrat;
}   